.footerContainer {
  background-color: #000;
  color: white;
  padding: 15px 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.3);
}

.footerText {
  font-size: 14px;
  color: #ddd;
}

.footerText span {
  color: #9b4dca;
}
